# ===== Required (Bot system) =====
API_ID=
API_HASH=
BOT_TOKEN=
OWNER_ID=

# ===== Optional Userbot power features =====
STRING_SESSION=

# ===== MongoDB (Railway plugin / Atlas) =====
MONGO_URI=
MONGO_DB=yashika

# ===== Runtime =====
LOG_GROUP_ID=
BOT_NAME=Yashika
OWNER_USERNAME=
SUPPORT_CHAT=
UPDATE_CHANNEL=
AUTO_DELETE=true
DELETE_DELAY=1.5
PREFIXES=.!

# ===== Music optional =====
BASE_URL=
API_KEY=
COOKIES_PATH=cookies.txt
