{
  "API_ID": "",
  "API_HASH": "",
  "BOT_TOKEN": "",
  "OWNER_ID": "",
  "STRING_SESSION": "",
  "LOG_GROUP_ID": "",
  "MONGO_URI": "",
  "MONGO_DB": "yashika",
  "BOT_NAME": "Yashika",
  "OWNER_USERNAME": "",
  "SUPPORT_CHAT": "",
  "UPDATE_CHANNEL": "",
  "AUTO_DELETE": "true",
  "DELETE_DELAY": "1.5",
  "PREFIXES": ".!",
  "NUMLOOKUP_API_KEY": "",
  "COOKIES_PATH": "cookies.txt",
  "BASE_URL": "",
  "API_KEY": ""
}
